*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

$whiteColor: #f2f2f2;
$blackColor: #000;
$greenColor: hsl(154, 22%, 36%);
$yellowColor: hsl(46, 99%, 55%);
$greyColor: #b7b7b7;
$lightGrey: #bfbfbf;
$redColor: #ed145b;

// Responsive Breakpoints
// -------------------------
$break-mobile: 480px;
$break-tablet: 768px;
$break-desktop: 980px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-tablet - 1) {
      @content;
    }
  } @else if $media == portrait-mobile {
    @media only screen and (max-width: $break-mobile) {
      @content;
    }
  } @else if $media == large-mobile {
    @media only screen and (min-width: $break-mobile + 1) and (max-width: $break-tablet - 1) {
      @content;
    }
  } @else if $media == portable {
    @media only screen and (max-width: $break-desktop - 1) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop - 1) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-desktop) {
      @content;
    }
  }
}

.unstyled--list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  &-top-wrapper {
    max-width: 1244px;
    margin: 0 auto;
    padding: 35px 0;
  }
  &__logo-link {
    display: block;
  }
  &__logo-img {
    height: 70px;
    @include respond-to(mobile) {
      height: 50px;
    }
  }
  &-nav {
    padding: 0;
    justify-content: flex-end;
    button {
      border: none;
    }
  }
  &-nav__list {
    max-width: 642px;
    flex-wrap: wrap;
    @include respond-to(portable) {
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 20px;
      &-element {
        padding: 5px 0;
      }
    }
  }
  &-nav__link {
    font-size: 22px;
    font-weight: bold;
    color: $blackColor;
    transition: 0.9s;
    padding: 0 15px;
    &:hover {
      text-decoration: none;
      color: #6764cb;
    }
    @include respond-to(mobile) {
      font-size: 16px;
    }
  }
  &-dropdown {
    &-nav {
      border: 1px solid#DADADA;
      border-radius: 5px;
    }
    &__element {
      width: 136px;
      height: 54px;
      color: $greyColor;
      font-size: 22px;
      transition: 0.9s;
      &:hover {
        color: #6764cb;
      }
    }
  }
}

.navbar-toggler {
  z-index: 2;
  @include respond-to(mobile) {
    margin-top: 13px;
  }

  @include respond-to(tablet) {
    margin-top: 25px;
  }

  padding: 0;
  &:focus {
    outline: none;
  }
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: $blackColor;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 {
  span {
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 10px;
    }
    &:nth-child(3) {
      top: 20px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 11px;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    &:nth-child(3) {
      top: 11px;
      transform: rotate(-135deg);
    }
  }
}

/* Icon 3*/

.animated-icon2 {
  span {
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 11px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 11px;
      width: 0%;
      left: 50%;
    }
  }
}

/* Icon 4 */

.animated-icon3 {
  span {
    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 10px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 20px;
      transform-origin: left center;
    }
  }
  &.open span {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 0px;
      left: 8px;
    }
    &:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 21px;
      left: 8px;
    }
  }
}

.gallery {
  &-element {
    height: 458px;
    &:nth-of-type(1) {
      background: url("../images/shutterstock_100419445.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(2) {
      background: url("../images/shutterstock_1092799319.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(3) {
      background: url("../images/shutterstock_791692354.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(4) {
      background: url("../images/shutterstock_1096147727.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(5) {
      background: url("../images/shutterstock_225971818.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(6) {
      background: url("../images/shutterstock_732177829.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(7) {
      background: url("../images/shutterstock_763361947.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(8) {
      background: url("../images/shutterstock_1031107999.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(9) {
      background: url("../images/shutterstock_1228204222.jpg");
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(10) {
      background: url("../images/shutterstock_1371399092.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}

.icons {
  &-wrapper {
    max-width: 1241px;
    min-height: 467px;
    margin: 0 auto;
  }
  &-element {
    width: 211px;
    height: 211px;
    max-height: 211px;
    overflow: hidden;

    @include respond-to(portrait-mobile) {
      height: 120px;
    }

    &:nth-of-type(odd) {
      background-color: #e6e6e6;
    }
    &:nth-of-type(even) {
      background-color: #f6f6f6;
    }
    &__img {
      background-color: inherit;
      object-fit: scale-down;
      width: 75%;
      height: auto;
    }
    &:nth-of-type(7) {
      img {
        @include respond-to(portrait-mobile) {
          width: 50%;
        }
      }
    }
  }
}

.contact {
  background-color: #6a68cd;
  color: $whiteColor;
  min-height: 500px;
  &-header {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    &:after {
      display: block;
      content: "";
      width: 65px;
      height: 5px;
      background-color: $whiteColor;
      margin: 10px auto 0;
      border-radius: 2px;
    }
  }
  &-form {
    input, select {
      border-radius: 10px;
      height: 60px;
      padding: 0 20px;
      &:active,&:focus {
        outline: none;
      }
      &::placeholder {
        color: $lightGrey;
        font-size: 20px;
      }
      option {
        color: $blackColor;
      }
    }
  }
  .form-check {
    font-weight: 300;
    &:nth-of-type(2) {
      margin-top: 10px;
    }
    &--label {
      font-size: 24px;
    }
    &--rounded {
      width: 20px;
      height: 20px;
      margin-top: .2rem;
    }
    &-permissionCheck {
      height: unset;
      margin-top: .4rem;
      margin-left: -1.7rem;
    }
  }
  .form-control {
    &--option {
      color: $lightGrey;
      font-size: 20px;
      //appearance:none;
      //background: "./assets/images/svg/select-icon.svg";
    }
    &--mod {
      min-height: 246px;
      border-radius: 10px;
      padding: 10px 20px;
      &::placeholder {
        color: $lightGrey;
        font-size: 20px;
      }
    }
  }
  .submit-btn {
    width: 395px;
    font-size: 30px;
    padding: 17px 20px;
    border-radius: 10px;
  }
}
