*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

.unstyled--list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  position: relative;
}
.header-top-wrapper {
  max-width: 1244px;
  margin: 0 auto;
  padding: 35px 0;
}
.header__logo-wrapper {
  z-index: 2;
}
.header__logo-link {
  display: block;
}
.header__logo-img {
  height: 70px;
}
@media only screen and (max-width: 767px) {
  .header__logo-img {
    height: 50px;
  }
}
.header-nav {
  padding: 0;
  justify-content: flex-end;
}
.header-nav button {
  border: none;
}
.header .navbar {
  position: unset;
}
.header-nav__list {
  flex-wrap: wrap;
}
@media only screen and (max-width: 979px) {
  .header-nav__list {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 1;
    flex-direction: column;
  }
  .header-nav__list-element {
    padding: 5px 0;
  }
}
.header-nav__link {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  transition: 0.9s;
  padding: 0 15px;
}
.header-nav__link:hover {
  text-decoration: none;
  color: #6764cb;
}
@media only screen and (max-width: 480px) {
  .header-nav__link {
    font-size: 30px;
  }
}
.header-dropdown-nav {
  border: 1px solid #DADADA;
  border-radius: 5px;
}
@media only screen and (max-width: 767px) {
  .header-dropdown-nav {
    position: absolute;
    width: 70%;
    top: 85vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: none;
  }
}
@media only screen and (max-width: 767px) {
  .header-dropdown__list {
    width: 100%;
  }
}
.header-dropdown__element {
  width: 136px;
  height: 54px;
  color: #b7b7b7;
  font-size: 22px;
  transition: 0.9s;
}
.header-dropdown__element:hover {
  color: #6764cb;
}
@media only screen and (max-width: 767px) {
  .header-dropdown__element {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .header-dropdown__img {
    margin-right: 5px;
    margin-left: auto;
  }
}

.navbar-toggler {
  z-index: 2;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .navbar-toggler {
    margin-top: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .navbar-toggler {
    margin-top: 25px;
  }
}
.navbar-toggler:focus {
  outline: none;
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 100%;
  border-radius: 2.2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #000;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}
.animated-icon1 span:nth-child(2) {
  top: 10px;
}
.animated-icon1 span:nth-child(3) {
  top: 20px;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
  top: 0px;
}
.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}
.animated-icon2 span:nth-child(4) {
  top: 20px;
}
.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}
.animated-icon2.open span:nth-child(2) {
  transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.animated-icon3 span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}
.animated-icon3 span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}
.animated-icon3.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.animated-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.gallery-element {
  height: 458px;
}
.gallery-element:nth-of-type(1) {
  background: url("../images/shutterstock_100419445.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(2) {
  background: url("../images/shutterstock_1092799319.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(3) {
  background: url("../images/shutterstock_791692354.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(4) {
  background: url("../images/shutterstock_1096147727.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(5) {
  background: url("../images/shutterstock_225971818.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(6) {
  background: url("../images/shutterstock_732177829.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(7) {
  background: url("../images/shutterstock_763361947.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(8) {
  background: url("../images/shutterstock_1031107999.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(9) {
  background: url("../images/shutterstock_1228204222.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-element:nth-of-type(10) {
  background: url("../images/shutterstock_1371399092.jpg");
  background-size: cover;
  background-position: center;
}

.icons-element {
  width: 211px;
  height: 211px;
  max-height: 211px;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .icons-element {
    height: 120px;
  }
}
.icons-element:nth-of-type(odd) {
  background-color: #e6e6e6;
}
.icons-element:nth-of-type(even) {
  background-color: #f6f6f6;
}
.icons-element__img {
  background-color: inherit;
  object-fit: scale-down;
  width: 75%;
  height: auto;
}
@media only screen and (max-width: 480px) {
  .icons-element:nth-of-type(7) img {
    width: 50%;
  }
}

.contact {
  background-color: #6a68cd;
  color: #f2f2f2;
  min-height: 500px;
}
.contact-header {
  position: relative;
  font-size: 48px;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .contact-header {
    font-size: 36px;
  }
}
.contact-header:after {
  display: block;
  content: "";
  width: 65px;
  height: 5px;
  background-color: #f2f2f2;
  margin: 10px auto 0;
  border-radius: 2px;
}
.contact-form input, .contact-form select {
  border-radius: 10px;
  height: 60px;
  padding: 0 20px;
}
.contact-form input:active, .contact-form select:active {
  outline: none;
}
.contact-form input:focus, .contact-form select:focus {
  border-color: #ced4da;
  box-shadow: none;
}
.contact-form input::placeholder, .contact-form select::placeholder {
  color: #bfbfbf;
  font-size: 20px;
}
.contact-form input option:not(:checked), .contact-form select option:not(:checked) {
  color: #000;
}
.contact-form input[type=radio]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
}
.contact .form-check {
  font-weight: 300;
}
.contact .form-check input[type=checkbox] ~ label:before {
  content: "";
  display: inline-block;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
  padding: 6px;
  border: none;
  background-color: #bfbfbf;
  color: #000;
}
.contact .form-check input[type=checkbox]:checked ~ label:after {
  content: "";
  display: inline-block;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
  padding: 6px;
  border: none;
  background-color: #bfbfbf;
  color: #000;
}
.contact .form-check:nth-of-type(2) {
  margin-top: 10px;
}
.contact .form-check--label {
  font-size: 24px;
}
@media only screen and (max-width: 767px) {
  .contact .form-check--label {
    text-align: left;
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .contact .form-check--name {
    font-size: 14px;
  }
}
.contact .form-check--rounded {
  width: 20px;
  height: 20px;
  margin-top: 0.2rem;
}
.contact .form-check-permissionCheck {
  height: unset;
  margin-top: 0.4rem;
  margin-left: -1.7rem;
}
.contact .form-check__label-permissionCheck {
  position: relative;
}
.contact .form-control--option {
  color: #bfbfbf;
  font-size: 20px;
  appearance: none;
}
.contact .form-control--mod {
  min-height: 246px;
  border-radius: 10px;
  padding: 10px 20px;
}
.contact .form-control--mod::placeholder {
  color: #bfbfbf;
  font-size: 20px;
}
.contact .submit-btn {
  max-width: 395px;
  font-size: 30px;
  padding: 17px 20px;
  border: 3px solid;
  border-radius: 10px;
}
.contact .submit-btn:focus {
  box-shadow: none;
}
.contact .submit-btn:active, .contact .submit-btn:hover {
  border: 3px solid #f2f2f2;
}
@media only screen and (max-width: 767px) {
  .contact .submit-btn {
    font-size: 24px;
  }
}

.footer {
  min-height: 300px;
  background-color: #f0f0f0;
}
@media only screen and (max-width: 767px) {
  .footer .header__logo-link {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer .header__logo-img {
    height: 70px;
  }
}

.socials-link__img {
  width: 48px;
}
@media only screen and (max-width: 767px) {
  .socials-link__img {
    width: 41px;
  }
}

.newsletter-text {
  color: #000;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .newsletter-text {
    text-align: center;
  }
}
.newsletter-btn {
  min-height: 80px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 10px;
  margin-left: 80px;
}
.newsletter-btn:focus {
  box-shadow: none;
}
.newsletter-btn:active {
  background-color: #6764cb !important;
  border-color: #6764cb !important;
}
.newsletter-btn:hover {
  border: 3px solid #6764cb;
  background-color: #6764cb;
  color: #f2f2f2;
}
@media only screen and (max-width: 767px) {
  .newsletter-btn {
    margin-left: 0;
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
